<!-- The Blob Seizure Crew - Helena Williams, Ishita Gupta, Jessica Yeung
SoftDev
K13 -- Template for Success: the CSS gets worse. Helena's teammates cry.
2020-10-15
 -->
<!DOCTYPE html>
<html>
    <head>
        <title>Blob Seizure Crew</title>
    </head>
    <body style = "background-color:purple;">
        <audio src="egirl.mp3" autoplay loop></audio>
        <marquee><t style="color:yellow;">
        <center><i>a very descriptive heading</i></center><br>
        <b>The Blob Seizure Crew</b><br>
        <ul>
          <li>Helena Williams</li>
          <li>Ishita Gupta</li>
          <li>Jessica Yeung</li>
        </ul>
        <p><sup>We</sup>hope<sub>you</sub>enjoy<sup>our</sup>website<sub>!</sub></p>
        </t></marquee> 
      </body>
</html>
